{% extends 'template.html' %}

{% block mainContent %}
    <title>Login</title>
    <div class="formContainer">
        <main class="form-signin w-100 m-auto text-center">
            <form action="{{ url_for('list') }}">
                <h1 class="h3 mb-3 fw-normal">Introduce tus datos para identificarte</h1>

                <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Dirección de email</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Contraseña</label>
                </div>

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Recuerdame
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Entrar</button>
            </form>
        </main>
    </div>
{% endblock %}
